{% extends "base.html" %}
<link href="/static/css/app.css" rel="stylesheet">
{% block main %}
{% include 'flash_messages.html' %}
<div class="container">
    <div class="row">
      <img class= "banner" src=" {{ url_for('static', filename='css/banner.png') }}" />
      <br>
    </div>
        
        <div class="inbl">
            <p><a href="{{ url_for('signup') }}">Create A Profile</a></p>
        </div>
        <div class="inbl">
            <p><a href="{{ url_for('createapplication') }}">Get A Quote</a></p>
        </div>
        
    </div>
</div>
{% endblock %}

