{% extends "base.html" %}

<link href="/static/css/signup.css" rel="stylesheet">
{% block main %}
<h1>Create Profile</h1>
<hr class="top"/>
<div class="form">
  
    <form method="POST"  class="form-group form-control" action="{{ url_for('signup') }}">
      {% include 'flash_messages.html' %}
    {{ form.csrf_token }}
    <div class="form-group form-control">
    {{ form.username.label }} <br>
    {{ form.username(size=20) }}
    </div>
    <br>
    <div class="form-group form-control">
    {{ form.firstname.label }} <br>
    {{ form.firstname(size=20) }}
    </div>
    <br>
    <div class="form-group form-control">
     {{ form.lastname.label }} <br>
     {{ form.lastname(size=20) }}
     </div>
    <br>
    <div class="form-group form-control">
     {{ form.trn.label }} <br>
     {{ form.trn }}
     </div>
    <br>
    <div  class="form-group form-control">
    {{ form.gender.label }} <br>
    {{ form.gender (placeholder="Select Gender")  }}
    </div class="form-group form-control">
    <br>
    <div class="form-group form-control">
    {{ form.email.label }} <br>
    {{ form.email (placeholder="jdoe@example.com")  }}
    </div>
    <br>
    <div class="form-group form-control">
    {{ form.password.label }} <br>
    {{ form.password }}
    </div>
    <br>
    <div class="form-group form-control">
    {{ form.confirm.label }} <br>
    {{ form.confirm }}
    </div>
    <br>
    <div class="form-group form-control">
    {{ form.remember_me.label }} <br>
    {{ form.remember_me }}
    </div>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <a href="{{ url_for('home') }}" class="btn btn-primary" type="button">Cancel</a>
        <input id="btn" type="submit" class="btn btn-primary" type="submit" value="Sign Up" class='button'/>
      </div>
    
   
  </form>
</div>
{% endblock %}